html,body,h3{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #cdcace;
}
/* 主题色 放在这里便于修改 */
.themecolor{
    background-image:linear-gradient(to right, #03f4a6e0 0, #574ac3fa 100%);
    opacity: .8;
}